[user]
    name = Jim Van Fleet
    email = {{ .email | quote }}
[init]
    defaultBranch = main

[core]
    autocrlf = input
    editor = code --wait
{{ if contains "WSL" .chezmoi.kernel.osrelease }}
    sshCommand = ssh.exe
{{ end }}

# Conditional includes for work/personal configurations
# These paths WILL NOT be in your public chezmoi repo.
# You will create them manually on each machine.
[includeIf "gitdir:~/src/work/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/src/personal/"]
    path = ~/.gitconfig-personal

# OS-specific settings
{{ if eq .chezmoi.os "darwin" -}}
# macOS-specific settings
[gpg]
    program = /opt/homebrew/bin/gpg
{{- else if contains "WSL" .chezmoi.kernel.osrelease -}}
# WSL-specific settings
# Only include GPG signing if enableGpgSigning is true in chezmoi config
{{ if .enableGpgSigning }}
[user]
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGpsQgEmLt2hvFEKbemp+BB2udAl7R/wAj2mI90RwM3U

[gpg "ssh"]
    program = "/mnt/c/Users/Jim Van Fleet/AppData/Local/1Password/app/8/op-ssh-sign-wsl"

[commit]
    gpgsign = true
{{- end }} # End of if .enableGpgSigning
{{- end -}}